<c-container breakpoint="xxl">
    <c-row>
        <c-col>
            <c-card [cBorder]="{top: {color: 'warning', width: 5}}" class="mb-3">

                <c-card-header>
                    <h5 cModalTitle>Malzeme Koleksiyon Tanımı</h5>
                    <hr />
                    <form cForm>
                        <div class="d-grid gap-2 d-flex float-start mb-2">
                            <div>
                                <input cFormControl type="text" name="MalGroupNameFilter" [(ngModel)]="MalGroupNameFilter"
                                    (ngModelChange)="filterData()" placeholder="Grub Adı">
                            </div>
                            <div>
                                <input cFormControl type="text" name="MalCollectionNameFilter" [(ngModel)]="MalCollectionNameFilter"
                                    (ngModelChange)="filterData()" placeholder="Koleksiyon Adı">
                            </div>
                            <div>
                                <button cButton color="info" variant="outline" (click)="filterClean()">Temizle</button>
                            </div>
                        </div>
                    </form>
                </c-card-header>
                <c-card-body class="modal-scrollable">
                    <ng-container *ngTemplateOutlet="MalCollectionTbl"></ng-container>
                </c-card-body>
                <c-card-footer>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button cButton color="success" variant="outline"
                            (click)="toggleNewMalCollectionModal()">Ekle</button>

                        <button cButton color="warning" variant="outline" (click)="editMalCollection()"
                            [disabled]="!selectedMalCollection">
                            Değiştir
                        </button>

                        <button cButton color="danger" variant="outline"
                            (click)="deleteConfirmation(selectedMalCollection || null)" [disabled]="!selectedMalCollection">
                            Sil
                        </button>
                    </div>
                </c-card-footer>
            </c-card>
        </c-col>
    </c-row>
</c-container>

<c-modal [(visible)]="isDeleteModalVisible" [backdrop]="true" alignment="center" centered closeable>
    <c-row>
        <c-col>
            <c-card [cBorder]="{top: {color: 'danger', width: 5}}" class="mb-3">
                <c-card-header>
                    <h5 cModalTitle>Silme İşlemi</h5>
                </c-card-header>
                <c-card-body class="modal-scrollable">
                    <p>
                        <strong cTextColor="danger">{{ malCollectionToDelete?.name }}</strong> tipini silmek istiyor musunuz?
                    </p>
                    <p>Devam etmek için şu soruyu cevaplayın:</p>
                    <p>
                        <strong>{{ randomNumber1 }} {{ randomOperator }} {{ randomNumber2 }} = ?</strong>
                    </p>
                    <input type="number" class="form-control" [(ngModel)]="userAnswer" (input)="checkAnswer()"
                        placeholder="Cevabınızı girin" />
                    <div *ngIf="!isCorrectAnswer && userAnswer !== null">
                        <small cTextColor="danger">Cevap doğru değil!</small>
                    </div>
                </c-card-body>
                <c-card-footer>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button cButton color="danger" variant="outline" [disabled]="!isCorrectAnswer"
                            (click)="confirmDelete()">Evet
                        </button>
                        <button cButton color="secondary" variant="outline" (click)="cancelDelete()">Hayır</button>
                    </div>
                </c-card-footer>
            </c-card>
        </c-col>
    </c-row>
</c-modal>

<c-modal [(visible)]="isEditMode" [backdrop]="true" alignment="center" centered closeable>
    <c-row>
        <c-col>
            <c-card [cBorder]="{top: {color: 'warning', width: 5}}" class="mb-3">
                <c-card-header>
                    <h5 cModalTitle>Malzeme Tipi Düzenleme</h5>
                </c-card-header>
                <c-card-body class="modal-scrollable">
                    <form [formGroup]="malCollectionForm" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <select cSelect id="malGroupId" class="form-control" formControlName="malGroupId">
                                <option *ngFor="let maltype of malGroups" [value]="maltype.id">
                                    {{ maltype.name }}
                                </option>
                            </select>
                            <!-- Hata Mesajı -->
                            <div *ngIf="malCollectionForm.get('malGroupId')?.hasError('required') && (malCollectionForm.get('malGroupId')?.touched || submitted)"
                                class="error-message">
                                <strong cTextColor="danger">Grub Adı</strong> seçilmesi zorunludur.
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" id="name" class="form-control" formControlName="name"
                                placeholder="Koleksiyon Adı" />
                            <div *ngIf="malCollectionForm.get('name')?.hasError('required') && malCollectionForm.get('name')?.touched || submitted"
                                class="error-message">
                                <strong cTextColor="danger">Koleksiyon Adı</strong> girilmesi zorunludur.
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" id="code" class="form-control" formControlName="code"
                                placeholder="Koleksiyon Kodu" />
                            <div *ngIf="malCollectionForm.get('code')?.hasError('required') && malCollectionForm.get('code')?.touched || submitted"
                                class="error-message">
                                <strong cTextColor="danger">Koleksiyon Kodu</strong> girilmesi zorunludur.
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="number" id="amount" class="form-control" formControlName="amount"
                                placeholder="Kullanım Miktarı" />
                            <div *ngIf="malCollectionForm.get('amount')?.hasError('required') && malCollectionForm.get('amount')?.touched || submitted"
                                class="error-message">
                                <strong cTextColor="danger">Kullanım Miktarı</strong> girilmesi zorunludur.
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" id="url" class="form-control" formControlName="url" placeholder="Url" />
                            <div *ngIf="malCollectionForm.get('url')?.hasError('required') && malCollectionForm.get('url')?.touched|| submitted"
                                class="error-message">
                                <strong cTextColor="danger">Url</strong> girilmesi zorunludur.
                            </div>
                        </div>
                        <div class="mb-3">
                            <textarea id="description" class="form-control" formControlName="description"
                                placeholder="Açıklama giriniz."></textarea>
                            <div *ngIf="malCollectionForm.get('description')?.hasError('required') && malCollectionForm.get('description')?.touched || submitted"
                                class="error-message">
                                <strong cTextColor="danger">Açıklama</strong> girilmesi zorunludur.
                            </div>
                        </div>
                        <h6>{{malCollectionForm.value | json}}</h6>
                        <h6>{{malCollectionForm.status | json}}</h6>
                    </form>
                </c-card-body>
                <c-card-footer>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button cButton type="submit" [disabled]="malCollectionForm.invalid" color="success"
                            variant="outline" (click)="saveChanges()">Kaydet</button>
                        <button cButton color="secondary" variant="outline"
                            (click)="openAddMalCollectionModal()">İptal</button>
                    </div>
                </c-card-footer>

            </c-card>
        </c-col>
    </c-row>
</c-modal>

<c-modal [(visible)]="visible" [backdrop]="true" alignment="center" centered closeable>
    <c-row>
        <c-col>
            <c-card [cBorder]="{ top: { color: 'success', width: 5 } }" class="mb-3">
                <c-card-header>
                    <h5 cModalTitle>Yeni Malzeme Tipi Ekle</h5>
                </c-card-header>
                <c-card-body class="modal-scrollable">
                    <form [formGroup]="malCollectionForm" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <select cSelect id="malGroupId" class="form-control" formControlName="malGroupId">
                                <option *ngFor="let maltype of malGroups" [value]="maltype.id">
                                    {{ maltype.name }}
                                </option>
                            </select>
                            <!-- Hata Mesajı -->
                            <div *ngIf="malCollectionForm.get('malGroupId')?.hasError('required') && (malCollectionForm.get('malGroupId')?.touched || submitted)"
                                class="error-message">
                                <strong cTextColor="danger">Grub Adı</strong> seçilmesi zorunludur.
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" id="name" class="form-control" formControlName="name"
                                placeholder="Grub Adı" />
                            <div *ngIf="malCollectionForm.get('name')?.hasError('required') && malCollectionForm.get('name')?.touched || submitted"
                                class="error-message">
                                <strong cTextColor="danger">Grub Adı</strong> girilmesi zorunludur.
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" id="code" class="form-control" formControlName="code"
                                placeholder="Tip Kodu" />
                            <div *ngIf="malCollectionForm.get('code')?.hasError('required') && malCollectionForm.get('code')?.touched || submitted"
                                class="error-message">
                                <strong cTextColor="danger">Tip Kodu</strong> girilmesi zorunludur.
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="number" id="amount" class="form-control" formControlName="amount"
                                placeholder="Kullanım Miktarı" />
                            <div *ngIf="malCollectionForm.get('amount')?.hasError('required') && malCollectionForm.get('amount')?.touched || submitted"
                                class="error-message">
                                <strong cTextColor="danger">Kullanım Miktarı</strong> girilmesi zorunludur.
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" id="url" class="form-control" formControlName="url" placeholder="Url" />
                            <div *ngIf="malCollectionForm.get('url')?.hasError('required') && malCollectionForm.get('url')?.touched || submitted"
                                class="error-message">
                                <strong cTextColor="danger">Url</strong> girilmesi zorunludur.
                            </div>
                        </div>
                        <div class="mb-3">
                            <textarea id="description" class="form-control" formControlName="description"
                                placeholder="Açıklama giriniz."></textarea>
                            <div *ngIf="malCollectionForm.get('description')?.hasError('required') && malCollectionForm.get('description')?.touched || submitted"
                                class="error-message">
                                <strong cTextColor="danger">Açıklama</strong> girilmesi zorunludur.
                            </div>
                        </div>
                    </form>
                </c-card-body>
                <c-card-footer>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button cButton type="submit" [disabled]="malCollectionForm.invalid" color="success"
                            variant="outline" (click)="saveNewMalCollection()">Kaydet</button>
                        <button cButton color="secondary" variant="outline" (click)="visible = false">İptal</button>
                    </div>
                </c-card-footer>
            </c-card>
        </c-col>
    </c-row>
</c-modal>


<ng-template #MalCollectionTbl>
    <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
        <thead class="text-nowrap text-truncate">
            <tr>
                <th class="bg-body-tertiary">Grub Adı</th>
                <th class="bg-body-tertiary">Koleksiyon Adı</th>
                <th class="bg-body-tertiary text-center">Koleksiyon Kodu</th>
                <th class="bg-body-tertiary">Kullanım</th>
                <th class="bg-body-tertiary">Açıklama</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let malCollection of filteredData; trackBy: trackById"
                [cTableColor]="selectedMalCollection === malCollection.id ? 'warning' : ''" (click)="selectMalCollection(malCollection)">
               
                <td>
                    <div class="fw-semibold">{{ malCollection.malGroupName }}</div>
                    <div class="small text-body-secondary text-nowrap">
                        <span>
                            Ekleme Tarihi: {{ malCollection.createdDate }}
                        </span>
                    </div>
                </td>
                <td>
                    <div class="fw-semibold">{{ malCollection.name }}</div>
                    <div class="small text-body-secondary text-nowrap">
                        <span>
                            Ekleme Tarihi: {{ malCollection.createdDate }}
                        </span>
                    </div>
                </td>
                <td class="text-center fw-semibold">
                    <div>{{ malCollection.code }}</div>
                </td>
                <td>
                    <div class="d-flex justify-content-between">
                        <div class="float-start">
                            <strong>{{malCollection.amount}}%</strong>
                        </div>
                        <div class="float-end ms-1 text-nowrap">
                            <small class="text-body-secondary">Depo Kullanım Miktarı</small>
                        </div>
                    </div>
                    <c-progress thin [value]="malCollection.amount" color="success" aria-label="Usage"></c-progress>
                </td>
                <td>
                    <div class="small text-body-secondary">Kullanımda</div>
                    <div class="text-nowrap">{{ malCollection.description }}</div>
                </td>
            </tr>
        </tbody>
    </table>
</ng-template>