<c-container breakpoint="xxl">
    <c-row>
        <c-col>
            <c-card [cBorder]="{top: {color: 'warning', width: 5}}" class="mb-3">

                <c-card-header>
                    <h5 cModalTitle>Malzeme Değişken Tanımı</h5>
                    <hr />
                    <form cForm>
                        <div class="d-grid gap-2 d-flex float-start mb-2">
                            <div>
                                <input cFormControl type="text" name="MalGroupNameFilter" [(ngModel)]="MalGroupNameFilter"
                                    (ngModelChange)="filterData()" placeholder="Grub Adı">
                            </div>
                            <div>
                                <input cFormControl type="text" name="MalDescriptionNameFilter" [(ngModel)]="MalDescriptionNameFilter"
                                    (ngModelChange)="filterData()" placeholder="Değişken Adı">
                            </div>
                            <div>
                                <button cButton color="info" variant="outline" (click)="filterClean()">Temizle</button>
                            </div>
                        </div>
                    </form>
                </c-card-header>
                <c-card-body class="modal-scrollable">
                    <ng-container *ngTemplateOutlet="MalDescriptionTbl"></ng-container>
                </c-card-body>
                <c-card-footer>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button cButton color="success" variant="outline"
                            (click)="toggleNewMalDescriptionModal()">Ekle</button>

                        <button cButton color="warning" variant="outline" (click)="editMalDescription()"
                            [disabled]="!selectedMalDescription">
                            Değiştir
                        </button>

                        <button cButton color="danger" variant="outline"
                            (click)="deleteConfirmation(selectedMalDescription || null)" [disabled]="!selectedMalDescription">
                            Sil
                        </button>
                    </div>
                </c-card-footer>
            </c-card>
        </c-col>
    </c-row>
</c-container>

<c-modal [(visible)]="isDeleteModalVisible" [backdrop]="true" alignment="center" centered closeable>
    <c-row>
        <c-col>
            <c-card [cBorder]="{top: {color: 'danger', width: 5}}" class="mb-3">
                <c-card-header>
                    <h5 cModalTitle>Silme İşlemi</h5>
                </c-card-header>
                <c-card-body class="modal-scrollable">
                    <p>
                        <strong cTextColor="danger">{{ malDescriptionToDelete?.name }}</strong> tipini silmek istiyor musunuz?
                    </p>
                    <p>Devam etmek için şu soruyu cevaplayın:</p>
                    <p>
                        <strong>{{ randomNumber1 }} {{ randomOperator }} {{ randomNumber2 }} = ?</strong>
                    </p>
                    <input type="number" class="form-control" [(ngModel)]="userAnswer" (input)="checkAnswer()"
                        placeholder="Cevabınızı girin" />
                    <div *ngIf="!isCorrectAnswer && userAnswer !== null">
                        <small cTextColor="danger">Cevap doğru değil!</small>
                    </div>
                </c-card-body>
                <c-card-footer>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button cButton color="danger" variant="outline" [disabled]="!isCorrectAnswer"
                            (click)="confirmDelete()">Evet
                        </button>
                        <button cButton color="secondary" variant="outline" (click)="cancelDelete()">Hayır</button>
                    </div>
                </c-card-footer>
            </c-card>
        </c-col>
    </c-row>
</c-modal>

<c-modal [(visible)]="isEditMode" [backdrop]="true" alignment="center" centered closeable>
    <c-row>
        <c-col>
            <c-card [cBorder]="{top: {color: 'warning', width: 5}}" class="mb-3">
                <c-card-header>
                    <h5 cModalTitle>Malzeme Değişken Düzenleme</h5>
                </c-card-header>
                <c-card-body class="modal-scrollable">
                    <form [formGroup]="malDescriptionForm" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <select cSelect id="malGroupId" class="form-control" formControlName="malGroupId">
                                <option *ngFor="let maltype of malGroups" [value]="maltype.id">
                                    {{ maltype.name }}
                                </option>
                            </select>
                            <!-- Hata Mesajı -->
                            <div *ngIf="malDescriptionForm.get('malGroupId')?.hasError('required') && (malDescriptionForm.get('malGroupId')?.touched || submitted)"
                                class="error-message">
                                <strong cTextColor="danger">Grub Adı</strong> seçilmesi zorunludur.
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" id="name" class="form-control" formControlName="name"
                                placeholder="Değişken Adı" />
                            <div *ngIf="malDescriptionForm.get('name')?.hasError('required') && malDescriptionForm.get('name')?.touched || submitted"
                                class="error-message">
                                <strong cTextColor="danger">Değişken Adı</strong> girilmesi zorunludur.
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" id="code" class="form-control" formControlName="code"
                                placeholder="Değişken Kodu" />
                            <div *ngIf="malDescriptionForm.get('code')?.hasError('required') && malDescriptionForm.get('code')?.touched || submitted"
                                class="error-message">
                                <strong cTextColor="danger">Değişken Kodu</strong> girilmesi zorunludur.
                            </div>
                        </div>
                        <div class="mb-3">
                            <textarea id="description" class="form-control" formControlName="description"
                                placeholder="Açıklama giriniz."></textarea>
                            <div *ngIf="malDescriptionForm.get('description')?.hasError('required') && malDescriptionForm.get('description')?.touched || submitted"
                                class="error-message">
                                <strong cTextColor="danger">Açıklama</strong> girilmesi zorunludur.
                            </div>
                        </div>
                        <h6>{{malDescriptionForm.value | json}}</h6>
                        <h6>{{malDescriptionForm.status | json}}</h6>
                    </form>
                </c-card-body>
                <c-card-footer>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button cButton type="submit" [disabled]="malDescriptionForm.invalid" color="success"
                            variant="outline" (click)="saveChanges()">Kaydet</button>
                        <button cButton color="secondary" variant="outline"
                            (click)="openAddMalDescriptionModal()">İptal</button>
                    </div>
                </c-card-footer>

            </c-card>
        </c-col>
    </c-row>
</c-modal>

<c-modal [(visible)]="visible" [backdrop]="true" alignment="center" centered closeable>
    <c-row>
        <c-col>
            <c-card [cBorder]="{ top: { color: 'success', width: 5 } }" class="mb-3">
                <c-card-header>
                    <h5 cModalTitle>Yeni Malzeme Değişken Ekle</h5>
                </c-card-header>
                <c-card-body class="modal-scrollable">
                    <form [formGroup]="malDescriptionForm" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <select cSelect id="malGroupId" class="form-control" formControlName="malGroupId">
                                <option *ngFor="let maltype of malGroups" [value]="maltype.id">
                                    {{ maltype.name }}
                                </option>
                            </select>
                            <!-- Hata Mesajı -->
                            <div *ngIf="malDescriptionForm.get('malGroupId')?.hasError('required') && (malDescriptionForm.get('malGroupId')?.touched || submitted)"
                                class="error-message">
                                <strong cTextColor="danger">Grub Adı</strong> seçilmesi zorunludur.
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" id="name" class="form-control" formControlName="name"
                                placeholder="Grub Adı" />
                            <div *ngIf="malDescriptionForm.get('name')?.hasError('required') && malDescriptionForm.get('name')?.touched || submitted"
                                class="error-message">
                                <strong cTextColor="danger">Değişken Adı</strong> girilmesi zorunludur.
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" id="code" class="form-control" formControlName="code"
                                placeholder="Tip Kodu" />
                            <div *ngIf="malDescriptionForm.get('code')?.hasError('required') && malDescriptionForm.get('code')?.touched || submitted"
                                class="error-message">
                                <strong cTextColor="danger">Değişken Kodu</strong> girilmesi zorunludur.
                            </div>
                        </div>
                        <div class="mb-3">
                            <textarea id="description" class="form-control" formControlName="description"
                                placeholder="Açıklama giriniz."></textarea>
                            <div *ngIf="malDescriptionForm.get('description')?.hasError('required') && malDescriptionForm.get('description')?.touched || submitted"
                                class="error-message">
                                <strong cTextColor="danger">Açıklama</strong> girilmesi zorunludur.
                            </div>
                        </div>
                    </form>
                </c-card-body>
                <c-card-footer>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button cButton type="submit" [disabled]="malDescriptionForm.invalid" color="success"
                            variant="outline" (click)="saveNewMalDescription()">Kaydet</button>
                        <button cButton color="secondary" variant="outline" (click)="visible = false">İptal</button>
                    </div>
                </c-card-footer>
            </c-card>
        </c-col>
    </c-row>
</c-modal>


<ng-template #MalDescriptionTbl>
    <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
        <thead class="text-nowrap text-truncate">
            <tr>
                
                <th class="bg-body-tertiary">Grub Adı</th>
                <th class="bg-body-tertiary">Değişken Adı</th>
                <th class="bg-body-tertiary text-center">Değişken Kodu</th>
                <th class="bg-body-tertiary">Açıklama</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let malDescription of filteredData; trackBy: trackById"
                [cTableColor]="selectedMalDescription === malDescription.id ? 'warning' : ''" (click)="selectMalDescription(malDescription)">
             
                <td>
                    <div class="fw-semibold">{{ malDescription.malGroupName }}</div>
                    <div class="small text-body-secondary text-nowrap">
                        <span>
                            Ekleme Tarihi: {{ malDescription.createdDate }}
                        </span>
                    </div>
                </td>
                <td>
                    <div class="fw-semibold">{{ malDescription.name }}</div>
                    <div class="small text-body-secondary text-nowrap">
                        <span>
                            Ekleme Tarihi: {{ malDescription.createdDate }}
                        </span>
                    </div>
                </td>
                <td class="text-center fw-semibold">
                    <div>{{ malDescription.code }}</div>
                </td>
                <td>
                    <div class="small text-body-secondary">Kullanımda</div>
                    <div class="text-nowrap">{{ malDescription.description }}</div>
                </td>
            </tr>
        </tbody>
    </table>
</ng-template>